.left-bar {
  position: absolute;
  left: auto;
  width: 50px;
  height: 10px;
  line-height: 40px;
  padding-left: 5%;
  color: #0070f3;
  font-weight: bolder;
  font-size: 17px;
  text-transform: uppercase;
  text-align: left;
}
.left-bar button {
  text-align: center;
  white-space: nowrap;
}
.left-bar button:hover {
  background-color: #d0d8e2;
}
.left-bar button:focus {
  outline: 1px dashed #d0d8e2;
}

@media screen and (max-width: 992px) {
  .left-bar {
    visibility: hidden;
  }
}
